import React from 'react';
<% if (useCSS) { -%>
import styles from './<%= name %>.module.<%= cssType %>';
<% } -%>

<% if (useTypescript && useInterface) { -%>
interface <%= name %>Props {
<% if (componentType === 'fc') { -%>
    children?: React.ReactNode;
<% } -%>
}
<% } -%>

<% if (componentType === 'fr') { -%>
export const <%= name %> = React.forwardRef<% if (useTypescript && useInterface) { %><any, <%= name %>Props><% } %>(({}, ref) => {
    return <div<% if (useCSS) { %> className={styles.main}<% } %>></div>;
});
<% } else if (componentType === 'fc') { -%>
export const <%= name %><% if (useTypescript && useInterface) { %>: React.FC<<%= name %>Props><% } %> = ({ children, ...props }<% if (useTypescript && useInterface) { %>: <%= name %>Props<% } %>) => {
    return <div<% if (useCSS) { %> className={styles.main}<% } %>>{children}</div>;
};
    <% } else if (componentType === 'fn') { -%>
export const <%= name %> = ({}<% if (useTypescript && useInterface) { %>: <%= name %>Props<% } %>) => {
    return <div<% if (useCSS) { %> className={styles.main}<% } %>></div>;
};
<% } -%>